$estilos: (
    color: black,
    centro: center,
    b: #d5cfe1,
);


section {
    background-color:  map-get($estilos, b);
}

.section__titulo { 
    font-weight: bold;
    font-family: 'Lora', serif;
    color: map-get($estilos, color);
    font-size: 4rem;
    text-align: map-get($estilos, centro);
}

.section__texto {
    color: map-get($estilos, color);
    font-size: large;
    text-align: map-get($estilos, centro);
    font-family: 'Bitter', serif;
    font-size: 2rem;
}

form p {
    color: map-get($estilos, color);
    text-align: map-get($estilos, centro);
    font-family: 'Bitter', serif;
    font-size: 2.5rem;
}

a {
    color: #d5cfe1;

}

a:hover {
    color: map-get($estilos, color);
}

.linea {
    background-color:  map-get($estilos, b);
}


.shadow-drop-center {
	-webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }