.img__bienvenidos {
    width: 60rem;
    height: 40rem;
}

.section__bienvenidos {
    margin: 2rem 4rem 6rem;
    padding: 3rem 2rem 4rem;
    display: flex;
}

.section__bienvenidos2 {
    display: grid;
}

.section__textoBienvenidos {
    color: black;
    text-align: center;
    font-family: 'Bitter', serif;
    font-size: 2rem;
    padding: 1rem;
    margin: 5rem;
}