@mixin grilla{
    display: grid;
    justify-items: center;
    align-items: center;
}

.img__resenas {
    width: 25rem;
    height: 40rem;
}

.section__resenas {
    margin: 2rem 4rem 6rem;
    padding: 3rem 2rem 4rem;
}

.section__ultResenas {
    @extend .section__resenas;
    display: flex;
    flex-direction: column;
}

.section__contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 3rem;
}

.section__contenedorHijo {
    text-align: center;
}

.section__contenedorResenas {
    @include grilla;
    grid-template-columns: 2fr 1fr;
    margin-left: 4rem;
}

.section__contenedorResenas2 {
    @include grilla;
    grid-template-columns: 1fr 2fr;
}